'@model WebApp.Models.RateTableViewModel

@{
    ViewBag.Title = "Rate Table Mapping";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>
        <div class="form-row wrap-form">
            <div class="form-group col-md-8">
                <table class="table table-hover table-delete">
                    <thead>
                        <tr>
                            <th class="w-50">Label</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedantId)</td>
                            <td>
                                @if (Model.CedantBo != null)
                                {
                                    @Model.CedantBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.TreatyCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.TreatyCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingTreatyCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingTreatyCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingPlanCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingPlanCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingPlanCode2)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingPlanCode2)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingBenefitTypeCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingBenefitTypeCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingBenefitRiskCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingBenefitRiskCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyTermFrom)</td>
                            <td>@Html.DisplayFor(model => model.PolicyTermFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyTermTo)</td>
                            <td>@Html.DisplayFor(model => model.PolicyTermTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyDurationFrom)</td>
                            <td>@Shared.Util.DoubleToString(Model.PolicyDurationFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyDurationTo)</td>
                            <td>@Shared.Util.DoubleToString(Model.PolicyDurationTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.GroupPolicyNumber)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.GroupPolicyNumber)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.BenefitId)</td>
                            <td>
                                @if (Model.BenefitBo != null)
                                {
                                    @Model.BenefitBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsEffDatePolStartDate)</td>
                            <td>
                                @if (Model.ReinsEffDatePolStartDate != null)
                                {
                                    @Model.ReinsEffDatePolStartDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsEffDatePolEndDate)</td>
                            <td>
                                @if (Model.ReinsEffDatePolEndDate != null)
                                {
                                    @Model.ReinsEffDatePolEndDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReportingStartDate)</td>
                            <td>
                                @if (Model.ReportingStartDate != null)
                                {
                                    @Model.ReportingStartDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReportingEndDate)</td>
                            <td>
                                @if (Model.ReportingEndDate != null)
                                {
                                    @Model.ReportingEndDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AttainedAgeFrom)</td>
                            <td>@Html.DisplayFor(model => model.AttainedAgeFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AttainedAgeTo)</td>
                            <td>@Html.DisplayFor(model => model.AttainedAgeTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PremiumFrequencyCodePickListDetailId)</td>
                            <td>
                                @if (Model.PremiumFrequencyCodePickListDetailBo != null)
                                {
                                    @Model.PremiumFrequencyCodePickListDetailBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyAmountFrom)</td>
                            <td>@Shared.Util.DoubleToString(Model.PolicyAmountFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PolicyAmountTo)</td>
                            <td>@Shared.Util.DoubleToString(Model.PolicyAmountTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AarFrom)</td>
                            <td>@Shared.Util.DoubleToString(Model.AarFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AarTo)</td>
                            <td>@Shared.Util.DoubleToString(Model.AarTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsBasisCodePickListDetailId)</td>
                            <td>
                                @if (Model.ReinsBasisCodePickListDetailBo != null)
                                {
                                    @Model.ReinsBasisCodePickListDetailBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RateId)</td>
                            <td>
                                @if (Model.RateBo != null)
                                {
                                    @Model.RateBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RiDiscountCode)</td>
                            <td>@Html.DisplayFor(model => model.RiDiscountCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.LargeDiscountCode)</td>
                            <td>@Html.DisplayFor(model => model.LargeDiscountCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.GroupDiscountCode)</td>
                            <td>@Html.DisplayFor(model => model.GroupDiscountCode)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color form-row form-row-btn">
                <div class="form-group col-md-12 btn-row">
                    @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                    <button type="submit" class="btn btn-del float-right">DELETE</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")