@model WebApp.Models.TreatyPricingGroupMasterLetterViewModel

@{
    ViewBag.Title = "Group Master Letter";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");

    var disabled = ViewBag.Disabled || (ViewBag.ReadOnly != null && ViewBag.ReadOnly);
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

@Html.Partial("_ValidationSummary")

<div class="card">
    <div class="card-header">
        <div class="row">
            <h4>@ViewBag.Action @ViewBag.Title</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>
        <div class="form-row wrap-form">
            <div class="form-group col-md-8">
                <table class="table table-hover table-delete">
                    <thead>
                        <tr>
                            <th class="w-50">Label</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedantId)</td>
                            <td>@(Model.CedantBo.ToString())</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Code)</td>
                            <td>@Html.DisplayFor(model => model.Code)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.NoOfRiGroupSlip)</td>
                            <td>@Html.DisplayFor(model => model.NoOfRiGroupSlip)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color form-row form-row-btn">
                <div class="form-group col-md-12 btn-row">
                    @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                    <button type="submit" class="btn btn-del float-right">DELETE</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/textarea-autoresize.js")

    <script>
        $(document).ready(function () {
            if ('@ViewBag.ReadOnly' == 'True' || '@disabled' == 'True') {
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
                $('.selectpicker').selectpicker('refresh');
            }

            if ('@ViewBag.ReadOnly' == 'True') {
                $('button').prop("disabled", true);
            } else {
                $("[name='__RequestVerificationToken']").prop("disabled", false);
            }
        });
    </script>

    @Scripts.Render("~/Scripts/models/TreatyPricingGroupMasterLetter.js")
}