@model WebApp.Models.TreatyBenefitCodeMappingViewModel

@{
    ViewBag.Title = "Product Feature Mapping";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>
        <div class="form-row wrap-form">
            <div class="form-group col-md-8">
                <table class="table table-hover table-delete">
                    <thead>
                        <tr>
                            <th class="w-50">Label</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedantId)</td>
                            <td>
                                @if (Model.CedantBo != null)
                                {
                                    @Model.CedantBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingPlanCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingPlanCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Description)</td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingBenefitTypeCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingBenefitTypeCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingBenefitRiskCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingBenefitRiskCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CedingTreatyCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CedingTreatyCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CampaignCode)</td>
                            <td>@Shared.Util.GetTruncatedValue(Model.CampaignCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsEffDatePolStartDate)</td>
                            <td>@Model.ReinsEffDatePolStartDate.Value.ToString(Shared.Util.GetDateFormat())</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsEffDatePolEndDate)</td>
                            <td>@Model.ReinsEffDatePolEndDate.Value.ToString(Shared.Util.GetDateFormat())</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsBasisCodePickListDetailId)</td>
                            <td>
                                @if (Model.ReinsBasisCodePickListDetailBo != null)
                                {
                                    @Model.ReinsBasisCodePickListDetailBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AttainedAgeFrom)</td>
                            <td>@Html.DisplayFor(model => model.AttainedAgeFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AttainedAgeTo)</td>
                            <td>@Html.DisplayFor(model => model.AttainedAgeTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReportingStartDate)</td>
                            <td>
                                @if (@Model.ReportingStartDate != null)
                                {
                                    @Model.ReportingStartDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReportingEndDate)</td>
                            <td>
                                @if (@Model.ReportingEndDate != null)
                                {
                                    @Model.ReportingEndDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.UnderwriterRatingFrom)</td>
                            <td>@Shared.Util.DoubleToString(Model.UnderwriterRatingFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.UnderwriterRatingTo)</td>
                            <td>@Shared.Util.DoubleToString(Model.UnderwriterRatingTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.OriSumAssuredFrom)</td>
                            <td>@Shared.Util.DoubleToString(Model.OriSumAssuredFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.OriSumAssuredTo)</td>
                            <td>@Shared.Util.DoubleToString(Model.OriSumAssuredTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsuranceIssueAgeFrom)</td>
                            <td>@Html.DisplayFor(model => model.ReinsuranceIssueAgeFrom)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ReinsuranceIssueAgeTo)</td>
                            <td>@Html.DisplayFor(model => model.ReinsuranceIssueAgeTo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.TreatyCodeId)</td>
                            <td>
                                @if (Model.TreatyCodeBo != null)
                                {
                                    @Model.TreatyCodeBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.BenefitId)</td>
                            <td>
                                @if (Model.BenefitBo != null)
                                {
                                    @Model.BenefitBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ProfitCommPickListDetailId)</td>
                            <td>
                                @if (Model.ProfitCommPickListDetailBo != null)
                                {
                                    @Model.ProfitCommPickListDetailBo.Code
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MaxExpiryAge)</td>
                            <td>@Html.DisplayFor(model => model.MaxExpiryAge)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinIssueAge)</td>
                            <td>@Html.DisplayFor(model => model.MinIssueAge)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MaxIssueAge)</td>
                            <td>@Html.DisplayFor(model => model.MaxIssueAge)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MaxUwRating)</td>
                            <td>@Shared.Util.DoubleToString(Model.MaxUwRating)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ApLoading)</td>
                            <td>@Shared.Util.DoubleToString(Model.ApLoading)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinAar)</td>
                            <td>@Shared.Util.DoubleToString(Model.MinAar)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MaxAar)</td>
                            <td>@Shared.Util.DoubleToString(Model.MaxAar)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.AblAmount)</td>
                            <td>@Shared.Util.DoubleToString(Model.AblAmount)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RetentionShare)</td>
                            <td>@Shared.Util.DoubleToString(Model.RetentionShare)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RetentionCap)</td>
                            <td>@Shared.Util.DoubleToString(Model.RetentionCap)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RiShare)</td>
                            <td>@Shared.Util.DoubleToString(Model.RiShare)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RiShareCap)</td>
                            <td>@Shared.Util.DoubleToString(Model.RiShareCap)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RiShare2)</td>
                            <td>@Shared.Util.DoubleToString(Model.RiShare2)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RiShareCap2)</td>
                            <td>@Shared.Util.DoubleToString(Model.RiShareCap2)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ServiceFee)</td>
                            <td>@Shared.Util.DoubleToString(Model.ServiceFee)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.WakalahFee)</td>
                            <td>@Shared.Util.DoubleToString(Model.WakalahFee)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.EffectiveDate)</td>
                            <td>
                                @if (@Model.EffectiveDate != null)
                                {
                                    @Model.EffectiveDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color form-row form-row-btn">
                <div class="form-group col-md-12 btn-row">
                    @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                    <button type="submit" class="btn btn-del float-right">DELETE</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")