@using PagedList.Mvc

@model PagedList.IPagedList<WebApp.Models.EventClaimCodeMappingViewModel>

@{
    ViewBag.Title = "MLRe Event Code Mapping";
    var routeValue = (RouteValueDictionary)ViewBag.RouteValue;
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4"><h4>@ViewBag.Title</h4></div>
            <div class="col-md-8 text-right btn-row-inline">
                <div class="file btn btn-upload" data-loading-text="Processing...<span></span>" style="display: inline-flex;">
                    <label>UPLOAD</label>
                    @using (Html.BeginForm("Upload", "EventClaimCodeMapping", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="file" id="dataFile" name="upload" accept=".csv" onchange="this.form.submit()" />
                    }
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-download dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DOWNLOAD AS
                    </button>
                    <div class="dropdown-menu">
                        @Html.ActionLink("All", "Download", new { type = 1 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Filtered", "Download", new
                        {
                            type = 2,
                            CedantId = routeValue["CedantId"],
                            CedingEventCode = routeValue["CedingEventCode"],
                            CedingClaimType = routeValue["CedingClaimType"],
                            EventCodeId = routeValue["EventCodeId"],
                        }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Template", "Download", new { type = 3 }, new { @class = "dropdown-item" })
                    </div>
                </div>
                <a href="@Url.Action("Create")" class="btn btn-add">
                    ADD NEW
                </a>
            </div>
        </div>
    </div>
    <div class="card-body card-listing">
        @using (Html.BeginForm("Index", "EventClaimCodeMapping", FormMethod.Get))
        {
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="w-25">
                                @{
                                    routeValue["SortOrder"] = ViewBag.SortCedantId;
                                    @Shared.Html.Sorter(ViewBag, "Ceding Company", "CedantId", @Url.Action("Index", routeValue))
                                }
                            </th>
                            <th class="w-30">
                                @Html.DisplayNameFor(model => model.FirstOrDefault().CedingEventCode)
                            </th>
                            <th class="w-30">
                                @Html.DisplayNameFor(model => model.FirstOrDefault().CedingClaimType)
                            </th>
                            <th class="w-10">
                                @{
                                    routeValue["SortOrder"] = ViewBag.SortEventCodeId;
                                    @Shared.Html.Sorter(ViewBag, "MLRe Event Code", "EventCodeId", @Url.Action("Index", routeValue))
                                }
                            </th>
                            <th class="text-center w-5">
                                Action
                            </th>
                        </tr>

                        <tr>
                            @Html.Hidden("SortOrder", (string)ViewBag.SortOrder)
                            <th>
                                @Html.DropDownList("CedantId", (List<SelectListItem>)ViewBag.DropDownCedants, htmlAttributes: new { @class = "form-control selectpicker", @data_container = "body" })
                            </th>
                            <th>
                                @Html.TextBox("CedingEventCode", null, new { @class = "form-control", placeholder = "Type here" })
                            </th>
                            <th>
                                @Html.TextBox("CedingClaimType", null, new { @class = "form-control", placeholder = "Type here" })
                            </th>
                            <th>
                                @Html.DropDownList("EventCodeId", (List<SelectListItem>)ViewBag.DropDownEventCodes, htmlAttributes: new { @class = "form-control selectpicker", @data_container = "body" })
                            </th>
                            <th class="text-center align-middle">
                                <div class="btn-row-action">
                                    <a href="@Url.Action("Index")" class="btn btn-circle" title="Clear">
                                        <span class="fas fa-backspace" />
                                    </a>
                                    <button type="submit" title="Search" class="btn-circle"><span class="fas fa-search" /></button>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Cedant != null)
                                    {
                                        @item.Cedant.ToString();
                                    }
                                </td>
                                <td>
                                    @Shared.Util.GetTruncatedValue(item.CedingEventCode)
                                </td>
                                <td>
                                    @Shared.Util.GetTruncatedValue(item.CedingClaimType)
                                </td>
                                <td>
                                    @if (item.EventCode != null)
                                    {
                                        @item.EventCode.ToString();
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="fas fa-ellipsis-v dropbtn" />
                                        </button>
                                        <div class="dropdown-menu">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "dropdown-item" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="no-data">No available data found.</td>
                        </tr>
                    }

                </table>
            </div>
        }

        <div class="pagination-footer btn-row">
            <div class="row">
                <div class="col-md-4">
                    @Html.Partial("_PageInfo")
                </div>
                <div class="col-md-8">
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new
                    {
                        CedantId = routeValue["CedantId"],
                        CedingEventCode = routeValue["CedingEventCode"],
                        CedingClaimType = routeValue["CedingClaimType"],
                        EventCodeId = routeValue["EventCodeId"],
                        SortOrder = ViewBag.SortOrder,
                        Page,
                    }), Shared.Html.GetPagedListRenderOptions())
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var cedantId = 0;
            if ($('#CedantId').val() != 'NULL') {
                cedantId = $('#CedantId').val();
            }
        });
    </script>
}

