@model WebApp.Models.TreatyPricingCedantViewModel

<!DOCTYPE html>

<ul class="nav nav-tabs">
    <li class="nav-item"><a data-toggle="tab" href="#product" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProduct)" class="@(ViewBag.ActiveTab == null || ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProduct ? "active" : "") underline-tab">Product</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexRateTableGroup ? "active" : "") underline-tab" data-toggle="tab" href="#rateTableGroup" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexRateTableGroup)">Rate Table</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwLimit ? "active" : "") underline-tab" data-toggle="tab" href="#uwLimit" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwLimit)">Underwriting Limit</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexMedicalTable ? "active" : "") underline-tab" data-toggle="tab" href="#medicalTable" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexMedicalTable)">Medical Table</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexFinancialTable ? "active" : "") underline-tab" data-toggle="tab" href="#financialTable" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexFinancialTable)">Financial Table</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwQuestionnaire ? "active" : "") underline-tab" data-toggle="tab" href="#uwQuestionnaire" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwQuestionnaire)">UW Questionnaire</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexAdvantageProgram ? "active" : "") underline-tab" data-toggle="tab" href="#advantageProgram" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexAdvantageProgram)">Advantage Program</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexClaimApprovalLimit ? "active" : "") underline-tab" data-toggle="tab" href="#claimApprovalLimit" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexClaimApprovalLimit)">Claim Approval Limit</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexDefinitionAndExclusion ? "active" : "") underline-tab" data-toggle="tab" href="#definitionAndExclusion" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexDefinitionAndExclusion)">Definition And Exclusion</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCampaign ? "active" : "") underline-tab" data-toggle="tab" href="#campaign" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCampaign)">Campaign</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProfitCommission ? "active" : "") underline-tab" data-toggle="tab" href="#profitCommission" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProfitCommission)">Profit Commission</a></li>
    <li class="nav-item"><a class="@(ViewBag.ActiveTab == BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCustomOther ? "active" : "") underline-tab" data-toggle="tab" href="#customOther" v-on:click="tab(@BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCustomOther)">Custom / Other</a></li>
</ul>

<div class="tab-content underline-tab-content">
    @{
        string nameId = "";
        switch (ViewBag.ActiveTab)
        {
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexRateTableGroup:
                nameId = "rateTableGroup";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwLimit:
                nameId = "uwLimit";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexMedicalTable:
                nameId = "medicalTable";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexFinancialTable:
                nameId = "financialTable";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwQuestionnaire:
                nameId = "uwQuestionnaire";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexAdvantageProgram:
                nameId = "advantageProgram";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexClaimApprovalLimit:
                nameId = "claimApprovalLimit";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexDefinitionAndExclusion:
                nameId = "definitionAndExclusion";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCampaign:
                nameId = "campaign";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProfitCommission:
                nameId = "profitCommission";
                break;
            case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCustomOther:
                nameId = "customOther";
                break;
            default:
                nameId = "product";
                break;
        }
    }
    <div class="tab-pane fade show active" id="@(nameId)" role="tabpanel" aria-labelledby="@(nameId)-tab">
        @{
            switch (ViewBag.ActiveTab)
            {
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexRateTableGroup:
                    @Html.Partial("~/Views/TreatyPricingRateTableGroup/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwLimit:
                    @Html.Partial("~/Views/TreatyPricingUwLimit/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexMedicalTable:
                    @Html.Partial("~/Views/TreatyPricingMedicalTable/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexFinancialTable:
                    @Html.Partial("~/Views/TreatyPricingFinancialTable/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexUwQuestionnaire:
                    @Html.Partial("~/Views/TreatyPricingUwQuestionnaire/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexAdvantageProgram:
                    @Html.Partial("~/Views/TreatyPricingAdvantageProgram/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexClaimApprovalLimit:
                    @Html.Partial("~/Views/TreatyPricingClaimApprovalLimit/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexDefinitionAndExclusion:
                    @Html.Partial("~/Views/TreatyPricingDefinitionAndExclusion/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCampaign:
                    @Html.Partial("~/Views/TreatyPricingCampaign/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexProfitCommission:
                    @Html.Partial("~/Views/TreatyPricingProfitCommission/_List.cshtml")
                    break;
                case BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexCustomOther:
                    @Html.Partial("~/Views/TreatyPricingCustomOther/_List.cshtml")
                    break;
                default:
                    @Html.Partial("~/Views/TreatyPricingProduct/_List.cshtml")
                    break;
            }
        }
    </div>
</div>

<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-labelledby="cloneModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{CloneModal.ObjectName}} Duplication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to proceed to duplicate {{CloneModal.ObjectName}} ID: {{CloneModal.ObjectId}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel mr-auto" data-dismiss="modal">CANCEL</button>
                <button v-on:click="cloneObject()" type="button" class="btn btn-submit">CONFIRM</button>
            </div>
        </div>
    </div>
</div>


<script>
    // Model
    var CedantModel = @Html.Raw(Json.Encode(Model));

    // Date
    var CurrentYear = new Date().getFullYear();
    var DateTimeFormat = "@Shared.Util.GetDateTimeFormatMomentJs()";

    // Url
    var GetProductByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingProduct"))";
    var GetProductVersionByIdUrl = "@(Url.Action("GetByTreatyPricingProduct", "TreatyPricingProduct"))";
    var AddProductUrl = "@(Url.Action("Add", "TreatyPricingProduct"))";
    var EditProductUrl = "@Url.Action("Edit", "TreatyPricingProduct")?Id=";
    var GetProductWorkflowObjectsUrl = "@Url.Action("GetWorkflowObjects", "TreatyPricingProduct")";
    var AddRateTableGroupUrl = "@(Url.Action("AddRateTableGroup", "TreatyPricingRateTableGroup"))";
    var EditRateTableGroupUrl = "@Url.Action("Edit", "TreatyPricingRateTableGroup")?Id=";
    var GetClaimApprovalLimitByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingClaimApprovalLimit"))"
    var GetClaimApprovalLimitVersionByIdUrl = "@(Url.Action("GetByTreatyPricingClaimApprovalLimit", "TreatyPricingClaimApprovalLimit"))"
    var AddClaimApprovalLimitUrl = "@(Url.Action("Add", "TreatyPricingClaimApprovalLimit"))";
    var EditClaimApprovalLimitUrl = "@Url.Action("Edit", "TreatyPricingClaimApprovalLimit")?Id=";
    var GetUwLimitByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingUwLimit"))";
    var GetUwLimitVersionByIdUrl = "@(Url.Action("GetByTreatyPricingUwLimit", "TreatyPricingUwLimit"))";
    var AddUwLimitUrl = "@(Url.Action("Add", "TreatyPricingUwLimit"))";
    var EditUwLimitUrl = "@Url.Action("Edit", "TreatyPricingUwLimit")?Id=";
    var GetMedicalTableByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingMedicalTable"))";
    var GetMedicalTableVersionByIdUrl = "@(Url.Action("GetByTreatyPricingMedicalTable", "TreatyPricingMedicalTable"))";
    var AddMedicalTableUrl = "@(Url.Action("Add", "TreatyPricingMedicalTable"))";
    var EditMedicalTableUrl = "@Url.Action("Edit", "TreatyPricingMedicalTable")?Id=";
    var GetFinancialTableByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingFinancialTable"))";
    var GetFinancialTableVersionByIdUrl = "@(Url.Action("GetByTreatyPricingFinancialTable", "TreatyPricingFinancialTable"))";
    var AddFinancialTableUrl = "@(Url.Action("Add", "TreatyPricingFinancialTable"))";
    var EditFinancialTableUrl = "@Url.Action("Edit", "TreatyPricingFinancialTable")?Id=";
    var AddUwQuestionnaireUrl = "@(Url.Action("Create", "TreatyPricingUwQuestionnaire"))";
    var EditUwQuestionnaireUrl = "@Url.Action("Edit", "TreatyPricingUwQuestionnaire")?Id=";
    var GetUwQuestionnaireByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingUwQuestionnaire"))"
    var GetUwQuestionnaireVersionByIdUrl = "@(Url.Action("GetByTreatyPricingUwQuestionnaire", "TreatyPricingUwQuestionnaire"))"
    var AddAdvantageProgramUrl = "@(Url.Action("Create", "TreatyPricingAdvantageProgram"))";
    var EditAdvantageProgramUrl = "@Url.Action("Edit", "TreatyPricingAdvantageProgram")?Id=";
    var GetAdvantageProgramByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingAdvantageProgram"))"
    var GetAdvantageProgramVersionByIdUrl = "@(Url.Action("GetByTreatyPricingAdvantageProgram", "TreatyPricingAdvantageProgram"))"
    var AddDefinitionAndExclusionUrl = "@(Url.Action("Add", "TreatyPricingDefinitionAndExclusion"))";
    var EditDefinitionAndExclusionUrl = "@Url.Action("Edit", "TreatyPricingDefinitionAndExclusion")?Id=";
    var GetDefinitionAndExclusionByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingDefinitionAndExclusion"))"
    var GetDefinitionAndExclusionVersionByIdUrl = "@(Url.Action("GetByTreatyPricingDefinitionAndExclusion", "TreatyPricingDefinitionAndExclusion"))"
    var GetProfitCommissionByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingProfitCommission"))";
    var GetProfitCommissionVersionByIdUrl = "@(Url.Action("GetByTreatyPricingProfitCommission", "TreatyPricingProfitCommission"))";
    var AddProfitCommissionUrl = "@(Url.Action("Add", "TreatyPricingProfitCommission"))";
    var EditProfitCommissionUrl = "@Url.Action("Edit", "TreatyPricingProfitCommission")?Id=";
    var AddCustomOtherUrl = "@(Url.Action("Add", "TreatyPricingCustomOther"))";
    var EditCustomOtherUrl = "@Url.Action("Edit", "TreatyPricingCustomOther")?Id=";
    var GetCustomOtherByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingCustomOther"))"
    var GetCustomOtherVersionByIdUrl = "@(Url.Action("GetByTreatyPricingCustomOther", "TreatyPricingCustomOther"))"
    var AddCampaignUrl = "@(Url.Action("Create", "TreatyPricingCampaign"))";
    var EditCampaignUrl = "@Url.Action("Edit", "TreatyPricingCampaign")?Id=";
    var GetCampaignByCedantUrl = "@(Url.Action("GetByTreatyPricingCedant", "TreatyPricingCampaign"))"
    var GetCampaignVersionByIdUrl = "@(Url.Action("GetByTreatyPricingCampaign", "TreatyPricingCampaign"))"
    var SearchRateTableGroupUrl = "@Url.Action("Search", "TreatyPricingRateTableGroup")";
    var SearchProfitCommissionUrl = "@Url.Action("Search", "TreatyPricingProfitCommission")";
    var SearchUwLimitUrl = "@Url.Action("Search", "TreatyPricingUwLimit")";
    var SearchMedicalTableUrl = "@Url.Action("Search", "TreatyPricingMedicalTable")";
    var SearchFinancialTableUrl = "@Url.Action("Search", "TreatyPricingFinancialTable")";
    var SearchClaimApprovalLimitUrl = "@Url.Action("Search", "TreatyPricingClaimApprovalLimit")";
    var SearchDefinitionAndExclusionUrl = "@Url.Action("Search", "TreatyPricingDefinitionAndExclusion")"
    var SearchUwQuestionnaireUrl = "@Url.Action("Search", "TreatyPricingUwQuestionnaire")"
    var SearchAdvantageProgramUrl = "@Url.Action("Search", "TreatyPricingAdvantageProgram")"
    var SearchCampaignUrl = "@Url.Action("Search", "TreatyPricingCampaign")"
    var SearchCustomOtherUrl = "@Url.Action("Search", "TreatyPricingCustomOther")"

    //List
    var TreatyPricingRateTableGroups = @Html.Raw(Json.Encode(ViewBag.TreatyPricingRateTableGroups));
    var TreatyPricingClaimApprovalLimits = @Html.Raw(Json.Encode(ViewBag.TreatyPricingClaimApprovalLimits));
    var TreatyPricingProducts = @Html.Raw(Json.Encode(ViewBag.TreatyPricingProducts));
    var TreatyPricingUwLimits = @Html.Raw(Json.Encode(ViewBag.TreatyPricingUwLimits));
    var TreatyPricingMedicalTables = @Html.Raw(Json.Encode(ViewBag.TreatyPricingMedicalTables));
    var TreatyPricingFinancialTables = @Html.Raw(Json.Encode(ViewBag.TreatyPricingFinancialTables));
    var TreatyPricingUwQuestionnaires = @Html.Raw(Json.Encode(ViewBag.TreatyPricingUwQuestionnaires));
    var TreatyPricingAdvantagePrograms = @Html.Raw(Json.Encode(ViewBag.TreatyPricingAdvantagePrograms));
    var TreatyPricingDefinitionAndExclusions = @Html.Raw(Json.Encode(ViewBag.TreatyPricingDefinitionAndExclusions));
    var TreatyPricingProfitCommissions = @Html.Raw(Json.Encode(ViewBag.TreatyPricingProfitCommissions));
    var TreatyPricingCustomOthers = @Html.Raw(Json.Encode(ViewBag.TreatyPricingCustomOthers));
    var TreatyPricingCampaigns = @Html.Raw(Json.Encode(ViewBag.TreatyPricingCampaigns));


    // DropDown
    var DropDownTreatyPricingCedants = @Html.Raw(Json.Encode(ViewBag.DropDownTreatyPricingCedants));

    //Status
    var RateTableGroupStatusPendingName = "@BusinessObject.TreatyPricing.TreatyPricingRateTableGroupBo.GetStatusName(BusinessObject.TreatyPricing.TreatyPricingRateTableGroupBo.StatusPending)";


    // Others
    var AuthUserName = "@ViewBag.AuthUserName";
    var BaseUrl = "@ViewBag.BaseUrl";
    var ActiveTab = "@ViewBag.ActiveTab"
</script>
