@using PagedList.Mvc

@{
    var IsEnabledAddDefinitionAndExclusion = ViewBag.IsEnabledAddDefinitionAndExclusion ? ViewBag.IsEnabledAddDefinitionAndExclusion : false;
    var TreatyPricingDefinitionAndExclusions = ViewBag.TreatyPricingDefinitionAndExclusions as PagedList.IPagedList<BusinessObject.TreatyPricing.TreatyPricingDefinitionAndExclusionBo>;
    var TreatyPricingCedantId = ViewBag.TreatyPricingCedantId;
}

<div class="text-right">
    @if (IsEnabledAddDefinitionAndExclusion)
    {
        <button type="button" v-on:click="resetAddDefinitionAndExclusionModal(false)" data-toggle="modal" data-target="#addDefinitionAndExclusionModal" class="btn btn-add-sub">ADD NEW</button>
    }
    else
    {
        <button type="button" class="btn btn-add-sub" disabled="disabled">ADD NEW</button>
    }
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        @Html.Label("Search Product Name", htmlAttributes: new { @class = "col-form-label col-md-6 p-0 font-weight-bold" })
        <div class="input-group mb-2">
            @Html.Editor("DefinitionAndExclusionProduct", new { htmlAttributes = new { @class = "form-control", placeholder = "Type here" } })
            <div class="input-group-append">
                <button type="button" class="input-group-text" onclick="SearchDefinitionAndExclusion()"><span class="fas fa-search" /></button>
            </div>
        </div>
    </div>
</div>

<div class="definitionAndExclusionTable table-responsive">
    <table class="table table-hover mt-3" v-cloak id="definitionAndExclusionList">
        <thead>
            <tr>
                <th class="w-30">Definitions & Exclusions ID</th>
                <th class="w-20">Name</th>
                <th class="w-20">Benefit Code</th>
                <th class="w-30">Description</th>
                <th class="w-10">Status</th>
                <th class="w-5 text-center">Action</th>
            </tr>
            <tr id="definitionAndExclusionFilterRow">
                <th>
                    <input class="form-control prevent-disable" placeholder="Type Here" id="definitionAndExclusionFilter-DefinitionAndExclusionID" />
                </th>
                <th>
                    <input class="form-control prevent-disable" placeholder="Type Here" id="definitionAndExclusionFilter-DefinitionAndExclusionName" />
                </th>
                <th>
                    <input class="form-control prevent-disable" placeholder="Type Here" id="definitionAndExclusionFilter-BenefitCode" />
                </th>
                <th>
                    <input class="form-control prevent-disable" placeholder="Type Here" id="definitionAndExclusionFilter-Description" />
                </th>
                <th>
                    <select class="form-control selectpicker prevent-disable" id="definitionAndExclusionFilter-Status">
                        @foreach (SelectListItem item in ViewBag.DropDownDefinitionAndExclusionStatuses)
                        {
                            <option value="@(item.Text == "Please select" ? "null" : item.Text)">@item.Text</option>
                        }
                    </select>
                </th>
                <th class="text-center align-middle">
                    <div class="btn-row-action">
                        <button type="button" title="Clear" class="btn-circle prevent-disable"><span class="fas fa-backspace" onclick="clearTableFilters('TreatyPricingDefinitionAndExclusions', 'definitionAndExclusion', 'definitionAndExclusionCodeFilters')" /></button>
                        <button type="button" title="Search" class="btn-circle prevent-disable"><span class="fas fa-search" onclick="filterTable('TreatyPricingDefinitionAndExclusions', 'definitionAndExclusion', 'definitionAndExclusionCodeFilters')" /></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="!TreatyPricingDefinitionAndExclusions.length">
                <td colspan="6" class="no-data">No available data found.</td>
            </tr>
            <tr id="definitionAndExclusionNoData" style="display: none;">
                <td colspan="6" class="no-data">No available data found.</td>
            </tr>
            <tr v-for="(TreatyPricingDefinitionAndExclusion, index) in TreatyPricingDefinitionAndExclusions">
                <td>{{ TreatyPricingDefinitionAndExclusion.Code }}</td>
                <td>{{ TreatyPricingDefinitionAndExclusion.Name }}</td>
                <td>{{ TreatyPricingDefinitionAndExclusion.BenefitCode }}</td>
                <td>{{ TreatyPricingDefinitionAndExclusion.Description }}</td>
                <td class="va-middle"><span class="status-badge">{{ TreatyPricingDefinitionAndExclusion.StatusName }}</span></td>
                <td class="text-center">
                    <a v-bind:href="editDefinitionAndExclusionLink(index)" title="Edit Definition & Exclusion">
                        <span class="fas fa-pencil-alt" />
                    </a>
                    @*<a href="javascript:void(0);" v-on:click="cloneDefinitionAndExclusion(index)" title="Duplicate Definition & Exclusion" class="ml-2">
                            <span class="fas fa-clone" />
                        </a>*@
                    <span class="fas fa-clone ml-2" style="cursor:pointer" v-on:click="resetCloneModal('Definitions & Exclusions', TreatyPricingDefinitionAndExclusion.Code, index)" data-toggle="modal" data-target="#cloneModal" title="Duplicate Definition & Exclusion" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination-footer">
    <div class="row">
        <div class="col-md-4">
            @{
                ViewBag.CurrentPageNumber = TreatyPricingDefinitionAndExclusions.PageNumber;
                ViewBag.CurrentPageItems = TreatyPricingDefinitionAndExclusions.Count;
                ViewBag.PageSize = TreatyPricingDefinitionAndExclusions.PageSize;
                ViewBag.Total = ViewBag.TreatyPricingDefinitionAndExclusionTotal;
            }
            @Html.Partial("_PageInfo")
        </div>
        <div class="col-md-8" id="contentPager">
            @Html.PagedListPager(TreatyPricingDefinitionAndExclusions, Page => Url.Action("Edit", "TreatyPricingCedant", new { id = TreatyPricingCedantId, TabIndex = BusinessObject.TreatyPricing.TreatyPricingCedantBo.IndexDefinitionAndExclusion, Page, }), Shared.Html.GetPagedListRenderOptions())
        </div>
    </div>
</div>

<div class="modal fade" id="addDefinitionAndExclusionModal" tabindex="-1" role="dialog" aria-labelledby="addDefinitionAndExclusionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Definitions And Exclusions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="addDefinitionAndExclusionError" style="display:none;"></div>

                <div class="form">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input id="calNameInput" type="text" v-model="DefinitionAndExclusionModal.Name" style="resize: none" class="form-control" placeholder="Type here">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="daeHasDuplicate">Duplicate Existing Definitions And Exclusions</label>
                        <div class="row m-0 p-0">
                            <div class="mr-2"> <p style="color: #004BA2;">No</p> </div>
                            <div class="custom-control custom-switch pl-2">
                                <input class="custom-control-input" id="daeHasDuplicate" name="calHasDuplicateName" type="checkbox" v-model="DefinitionAndExclusionModal.IsDuplicateExisting" v-on:change="resetDefinitionAndExclusionDuplicate()" />
                                <label class="custom-control-label" for="daeHasDuplicate">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Company</label>
                        <select v-model="DefinitionAndExclusionModal.CedantId" class="form-control selectpicker" id="dropDownDefinitionAndExclusionCedants" v-on:change="updateDropDownDuplicateObjects(GetDefinitionAndExclusionByCedantUrl, 'DefinitionAndExclusion')">
                            <option v-for="cedant in DropDownTreatyPricingCedants" :value="cedant.Value">
                                {{ cedant.Text }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Definition And Exclusion</label>
                        <select v-model="DefinitionAndExclusionModal.DuplicateTreatyPricingDefinitionAndExclusionId" id="dropDownTreatyPricingDefinitionAndExclusions" class="form-control selectpicker" v-on:change="updateDropDownDuplicateObjectVersions(GetDefinitionAndExclusionVersionByIdUrl, 'DefinitionAndExclusion')">
                            <option v-for="definitionAndExclusion in DropDownTreatyPricingDefinitionAndExclusions" :value="DefinitionAndExclusion.Id">
                                {{ definitionAndExclusion.Code }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Version</label>
                        <select v-model="DefinitionAndExclusionModal.DuplicateTreatyPricingDefinitionAndExclusionVersionId" id="dropDownTreatyPricingDefinitionAndExclusionVersions" class="form-control selectpicker">
                            <option v-for="definitionAndExclusionVersion in DropDownTreatyPricingDefinitionAndExclusionVersions" :value="definitionAndExclusionVersion.Id">
                                {{ definitionAndExclusion.Version }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button v-on:click="saveDefinitionAndExclusion()" type="button" class="btn btn-submit">SAVE</button>
            </div>
        </div>
    </div>
</div>