@model WebApp.Models.CedantWorkgroupViewModel

@{
    ViewBag.Title = "Cedant Workgroup";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");
    ViewBag.ReadOnly = true;
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

@Html.Partial("_ValidationSummary")

<div class="card" id="app">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ModuleId)

                <div class="form-row">
                    <div class="form-group col-md-6 mid-line-1">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-form-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Type here" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6 mid-line-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-form-label" })
                        @Html.TextArea("Description", new { @class = "form-control textarea-auto-expand", placeholder = "Type here", rows = "1" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.Partial("_CedantWorkgroupDetails")

                <div class="form-row form-row-btn">
                    <div class="form-group col-md-12 btn-row">
                        @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                        <button type="submit" class="btn btn-del float-right">DELETE</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/textarea-autoresize.js")

    <script>
        $(document).ready(function () {
            $("input").prop("disabled", true);
            $("select").prop("disabled", true);
            $("textarea").prop("disabled", true);
            $('#addCedantButton').prop("disabled", true);
            $('#addUserButton').prop("disabled", true);
            $("[name='__RequestVerificationToken']").prop("disabled", false);

            $('#Description').autoResize();
            $('#Description').trigger('keyup');
        });

        var CedantWorkgroupModel = @Html.Raw(Json.Encode(Model));
        var CedantWorkgroupCedants = @Html.Raw(Json.Encode(ViewBag.CedantWorkgroupCedantBos));
        var CedantWorkgroupUsers = @Html.Raw(Json.Encode(ViewBag.CedantWorkgroupUserBos));
        var Cedants = @Html.Raw(Json.Encode(ViewBag.CedantBos));
        var Users = @Html.Raw(Json.Encode(ViewBag.UserBos));
    </script>

    @Scripts.Render("~/Scripts/models/CedantWorkgroup.js")
}