@model WebApp.Models.PerLifeRetroCountryViewModel

@{
    ViewBag.Title = "Per Life Retro Country";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6"><h4>@ViewBag.Action @ViewBag.Title</h4></div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>
        <div class="form-row wrap-form">
            <div class="form-group col-md-8">
                <table class="table table-hover table-delete">
                    <thead>
                        <tr>
                            <th class="w-50">Label</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.TerritoryOfIssueCodePickListDetailId)</td>
                            <td>
                                @if (Model.TerritoryOfIssueCodePickListDetailBo != null)
                                {
                                    @Model.TerritoryOfIssueCodePickListDetailBo.ToString()
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.EffectiveStartDate)</td>
                            <td>

                                @if (Model.EffectiveStartDate.HasValue)
                                {
                                    @Model.EffectiveStartDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.EffectiveEndDate)</td>
                            <td>

                                @if (Model.EffectiveEndDate.HasValue)
                                {
                                    @Model.EffectiveEndDate.Value.ToString(Shared.Util.GetDateFormat())
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color form-row form-row-btn">
                <div class="form-group col-md-12 btn-row">
                    @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                    <button type="submit" class="btn btn-del float-right">DELETE</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")