@model WebApp.Models.PremiumSpreadTableViewModel

@{
    var disabled = ViewBag.Disabled || (ViewBag.ReadOnly == null ? false : ViewBag.ReadOnly);
}

<div class="form-row">
    <div class="form-group col-md-12">
        <div class="text-right mt-4">
            <button type="button" v-on:click="addNew" class="btn btn-add-sub mt-2" disabled="@disabled">ADD NEW</button>
        </div>
        <input type="hidden" v-model="PremiumSpreadTableDetailMaxIndex" name="premiumSpreadTableDetailMaxIndex" />
        <div class="table-responsive">
            <table class="table table-hover my-3">
                <thead>
                    <tr>
                        <th class="text-center w-5">#</th>
                        <th style="display: none;"></th>
                        <th class="w-20">Ceding Plan Code</th>
                        <th class="w-20">MLRe Benefit Code</th>
                        <th class="w-20">Age From</th>
                        <th class="w-20">Age To</th>
                        <th class="w-20">Premium Spread</th>
                        <th class="text-center w-5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!PremiumSpreadTableDetails.length">
                        <td colspan="7" class="no-data">No available data found.</td>
                    </tr>
                    <tr v-for="(detail, index) in PremiumSpreadTableDetails">
                        <td class="text-center">{{index+1}}</td>
                        <td style="display:none">
                            <input type="hidden" :name="'premiumSpreadTableDetailId[' + index + ']'" class="form-control" :value="detail.Id">
                        </td>
                        <td>
                            <input v-model="detail.CedingPlanCode" :name="'cedingPlanCode[' + index + ']'" :id="'cedingPlanCode' + index + 'TokenField'" class="form-control" disabled=@disabled :value="detail.CedingPlanCode">
                        </td>
                        <td>
                            <input v-model="detail.BenefitCode" :name="'benefitCode[' + index + ']'" :id="'benefitCode' + index + 'TokenField'" class="form-control" disabled=@disabled :value="detail.BenefitCode">
                        </td>
                        @*<td>
                            <select v-model="detail.BenefitId" class="form-control selectpicker" ref="select" :id="'benefitId[' + index + ']'" :name="'benefitId[' + index + ']'" data-container="body" disabled=@disabled>
                                <option v-for="benefit in Benefits" disabled="@disabled" :value="benefit.Value">{{ benefit.Text }}</option>
                            </select>
                        </td>*@
                        <td>
                            <input type="number" v-model="detail.AgeFromStr" :name="'ageFromStr[' + index + ']'" class="form-control" disabled=@disabled :value="detail.AgeFromStr">
                        </td>
                        <td>
                            <input type="number" v-model="detail.AgeToStr" :name="'ageToStr[' + index + ']'" class="form-control" disabled=@disabled :value="detail.AgeToStr">
                        </td>
                        <td>
                            <input v-model="detail.PremiumSpreadStr" :name="'premiumSpreadStr[' + index + ']'" class="form-control" disabled="@disabled" :value="detail.PremiumSpreadStr">
                        </td>
                        <td class="text-center">
                            @if (disabled)
                            {
                                <span class="fas fa-trash-alt text-secondary" />
                            }
                            else
                            {
                                <a href="javascript:void(0);" v-on:click="removePremiumSpreadTableDetail(index)"><span class="fas fa-trash-alt" /></a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Models
    var PremiumSpreadTableModel = @Html.Raw(Json.Encode(Model));
    var PremiumSpreadTableDetails = @Html.Raw(Json.Encode(ViewBag.PremiumSpreadTableDetailBos));
    var Benefits = @Html.Raw(Json.Encode(ViewBag.DropDownBenefits));
    var BenefitCodes = @Html.Raw(Json.Encode(ViewBag.BenefitCodes));

    // Others
    var ModelId = "@Model.Id";
    var Disabled = "@disabled";
</script>
