@model WebApp.Models.InvoiceRegisterBatchViewModel

@{
    ViewBag.Title = "Batch";
    ViewBag.Action = "Create";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

@Html.Partial("_ValidationSummary")

<div class="card" id="app">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.ModuleId)

                <div class="form-row">
                    <div class="form-group col-md-6 mid-line-1">
                        @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "col-form-label" })
                        @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control", @Value = "", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6 mid-line-2">
                        @Html.LabelFor(model => model.BatchDate, htmlAttributes: new { @class = "col-form-label" })
                        <div class="input-w-icon">
                            @Html.TextBoxFor(model => model.BatchDateStr, new { id = "BatchDate", @class = "form-control", placeholder = "DD MM YYYY" })
                            <span class="fa fa-calendar-alt field-icon" aria-hidden="true" onclick="focusOnDate('BatchDate')" />
                        </div>
                        @Html.ValidationMessageFor(model => model.BatchDateStr, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.Partial("_InvoiceRegisterDetails")

                <div class="form-row form-row-btn">
                    <div class="form-group col-md-12 btn-row">
                        @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                        <div class="row m-0 p-0 float-right">
                            <div class="mr-1">
                                <button type="submit" class="btn btn-submit">SAVE</button>
                            </div>
                            <div>
                                <button class="btn btn-submit" type="button" onclick="updateStatus(@BusinessObject.InvoiceRegisters.InvoiceRegisterBatchBo.StatusSubmitForProcessing);" :disabled="!SoaDataDetails || !SoaDataDetails.length">SUBMIT FOR PROCESSING</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/date-quarter.js")
    @Scripts.Render("~/Scripts/textarea-autoresize.js")

    <script>
        $(document).ready(function () {
            $('#remarkContent').autoResize();
        });
    </script>
    @Scripts.Render("~/Scripts/models/InvoiceRegister.js")
}
