
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    @{ 
        if (ViewBag.EditDetailsPageUrl != null)
        {
            <li class="breadcrumb-item"><a href="@ViewBag.ListPageUrl">@ViewBag.PrevTitle</a></li>
            <li class="breadcrumb-item"><a href="@ViewBag.EditPageUrl">@ViewBag.PrevAction @ViewBag.PrevTitle</a></li>
            <li class="breadcrumb-item"><a href="@ViewBag.EditDetailsPageUrl">@ViewBag.Prev2Action @ViewBag.Prev2Title</a></li>
            <li class="breadcrumb-item active">@ViewBag.Action @ViewBag.Title</li>
        }
        else if (ViewBag.EditPageUrl != null)
        {
            <li class="breadcrumb-item"><a href="@ViewBag.ListPageUrl">@ViewBag.PrevTitle</a></li>
            <li class="breadcrumb-item"><a href="@ViewBag.EditPageUrl">@ViewBag.PrevAction @ViewBag.PrevTitle</a></li>
            <li class="breadcrumb-item active">@ViewBag.Action @ViewBag.Title</li>
        }
        else if (ViewBag.ListPageUrl != null)
        {
            <li class="breadcrumb-item"><a href="@ViewBag.ListPageUrl">@ViewBag.Title</a></li>
            <li class="breadcrumb-item active">@ViewBag.Action @ViewBag.Title</li>
        }
        else
        {
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        }
    }
</ol>
