@if (@ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert" style="margin-bottom: 1.5rem">
        @ViewBag.SuccessMessage
    </div>
}

@if (@ViewBag.SuccessMessageArr != null)
{
    <div class="alert alert-success" role="alert" style="margin-bottom: 1.5rem">
        <ul>
            @{
                List<string> msgArr = (List<string>)ViewBag.SuccessMessageArr;
                if (msgArr != null && msgArr.Count > 0)
                {
                    foreach (string msg in msgArr)
                    {
                        <li>@msg</li>
                    }
                }
            }
        </ul>
    </div>
}

@if (@ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert" style="margin-bottom: 1.5rem">
        @ViewBag.ErrorMessage
    </div>
}

@if (@ViewBag.ErrorMessageArr != null)
{
    <div class="alert alert-danger" role="alert" style="margin-bottom: 1.5rem">
        <ul>
            @{
                List<string> msgArr = (List<string>)ViewBag.ErrorMessageArr;
                if (msgArr != null && msgArr.Count > 0)
                {
                    foreach (string msg in msgArr)
                    {
                        <li>@msg</li>
                    }
                }
            }
        </ul>
    </div>
}

@if (@ViewBag.WarningMessage != null)
{
    <div class="alert alert-warning" role="alert" style="margin-bottom: 1.5rem">
        @ViewBag.WarningMessage
    </div>
}

@if (@ViewBag.WarningMessageArr != null)
{
    <div class="alert alert-warning" role="alert" style="margin-bottom: 1.5rem">
        <ul>
            @{
                List<string> msgArr = (List<string>)ViewBag.WarningMessageArr;
                if (msgArr != null && msgArr.Count > 0)
                {
                    foreach (string msg in msgArr)
                    {
                        <li>@msg</li>
                    }
                }
            }
        </ul>
    </div>
}
