@model WebApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Account", "Index", "Manage")</li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
}

@Html.Partial("_BackToList")

@Html.Partial("_ValidationSummary")

<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label" })
                        <div class="input-w-icon">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "••••••••••" })
                            <span toggle="#OldPassword" id="pass-status" class="fa fa-eye-slash field-icon toggle-password" aria-hidden="true" />
                        </div>                        
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">&nbsp;</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
                        <div class="input-w-icon">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "••••••••••" })
                            <span toggle="#NewPassword" id="pass-status" class="fa fa-eye-slash field-icon toggle-password" aria-hidden="true" />
                        </div>                        
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">&nbsp;</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                        <div class="input-w-icon">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "••••••••••" })
                            <span toggle="#ConfirmPassword" id="pass-status" class="fa fa-eye-slash field-icon toggle-password" aria-hidden="true" />
                        </div>                        
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">&nbsp;</div>
                </div>
                <div class="form-row form-row-btn">
                    <div class="form-group col-md-12 btn-row">
                        @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                        <button type="submit" class="btn btn-submit float-right">SUBMIT</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
}
