@{
    ViewBag.Title = "Uploaded Table Data";
    ViewBag.Action = "View";
    ViewBag.ListPageUrl = Url.Action("Index");

    ViewBag.PrevTitle = "Group Referral";
    ViewBag.PrevAction = "Edit";
    ViewBag.EditPageUrl = Url.Action("Edit", new { id = ViewBag.GroupReferralID });
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

<div class="card" id="app">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body" id="app">
        <div class="form-horizontal mt-2">
            <div class="form-row">
                <div class="form-group col-md-12">

                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a data-toggle="tab" href="#hips" class="active underline-tab">HIPS</a></li>
                        <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#gtlClamExperience">GTL Claim Experience</a></li>
                        <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#gtlUnitRates">GTL Takeover Rates - Unit Rates</a></li>
                        <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#gtlAgeBanded">GTL Takeover Rates - Age Banded</a></li>
                        <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#gtlBasisOfSa">GTL Basis of SA</a></li>
                        <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#ghsClaimExperience">GHS Claim Experience</a></li>
                    </ul>

                    <div class="tab-content underline-tab-content">
                        <div class="tab-pane fade show active" id="hips" role="tabpanel" aria-labelledby="hips-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-10">Coverage Start Date</th>
                                            <th class="w-10">Category</th>
                                            <th class="w-10">Subcategory</th>
                                            <th class="w-20">Description</th>
                                            <th class="w-10">Plan A</th>
                                            <th class="w-10">Plan B</th>
                                            <th class="w-10">Plan C</th>
                                            <th class="w-10">Plan D</th>
                                            <th class="w-10">Plan E</th>
                                            <th class="w-10">Plan F</th>
                                            <th class="w-10">Plan G</th>
                                            <th class="w-10">Plan H</th>
                                            <th class="w-10">Plan I</th>
                                            <th class="w-10">Plan J</th>
                                            <th class="w-10">Plan K</th>
                                            <th class="w-10">Plan L</th>
                                            <th class="w-10">Plan M</th>
                                            <th class="w-10">Plan N</th>
                                            <th class="w-10">Plan O</th>
                                            <th class="w-10">Plan P</th>
                                            <th class="w-10">Plan Q</th>
                                            <th class="w-10">Plan R</th>
                                            <th class="w-10">Plan S</th>
                                            <th class="w-10">Plan T</th>
                                            <th class="w-10">Plan U</th>
                                            <th class="w-10">Plan V</th>
                                            <th class="w-10">Plan W</th>
                                            <th class="w-10">Plan X</th>
                                            <th class="w-10">Plan Y</th>
                                            <th class="w-10">Plan Z</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!TableHIPSs || !TableHIPSs.length">
                                            <td colspan="30" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(hips, index) in TableHIPSs">
                                            <td>{{ hips.CoverageStartDateStr }}</td>
                                            <td>{{ hips.CategoryCode }}</td>
                                            <td>{{ hips.SubCategoryCode }}</td>
                                            <td>{{ hips.Description }}</td>
                                            <td>{{ hips.PlanA }}</td>
                                            <td>{{ hips.PlanB }}</td>
                                            <td>{{ hips.PlanC }}</td>
                                            <td>{{ hips.PlanD }}</td>
                                            <td>{{ hips.PlanE }}</td>
                                            <td>{{ hips.PlanF }}</td>
                                            <td>{{ hips.PlanG }}</td>
                                            <td>{{ hips.PlanH }}</td>
                                            <td>{{ hips.PlanI }}</td>
                                            <td>{{ hips.PlanJ }}</td>
                                            <td>{{ hips.PlanK }}</td>
                                            <td>{{ hips.PlanL }}</td>
                                            <td>{{ hips.PlanM }}</td>
                                            <td>{{ hips.PlanN }}</td>
                                            <td>{{ hips.PlanO }}</td>
                                            <td>{{ hips.PlanP }}</td>
                                            <td>{{ hips.PlanQ }}</td>
                                            <td>{{ hips.PlanR }}</td>
                                            <td>{{ hips.PlanS }}</td>
                                            <td>{{ hips.PlanT }}</td>
                                            <td>{{ hips.PlanU }}</td>
                                            <td>{{ hips.PlanV }}</td>
                                            <td>{{ hips.PlanW }}</td>
                                            <td>{{ hips.PlanX }}</td>
                                            <td>{{ hips.PlanY }}</td>
                                            <td>{{ hips.PlanZ }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="gtlClamExperience" role="tabpanel" aria-labelledby="gtlClamExperience-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-10">Coverage Start Date</th>
                                            <th class="w-10">Date of Event</th>
                                            <th class="w-20">Claimant's Name/ID</th>
                                            <th class="w-20">Cause of Claim</th>
                                            <th class="w-10">Type of Claim</th>
                                            <th class="w-15">Gross Claim</th>
                                            <th class="w-15">RI Claim</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!tableGTLBy(TypeGtlClaim) || !tableGTLBy(TypeGtlClaim).length">
                                            <td colspan="7" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(gtl, index) in tableGTLBy(TypeGtlClaim)">
                                            <td>{{ gtl.CoverageStartDateStr }}</td>
                                            <td>{{ gtl.EventDateStr }}</td>
                                            <td>{{ gtl.ClaimantsName }}</td>
                                            <td>{{ gtl.CauseOfClaim }}</td>
                                            <td>{{ gtl.ClaimType }}</td>
                                            <td>{{ gtl.GrossClaim }}</td>
                                            <td>{{ gtl.RiClaim }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="gtlUnitRates" role="tabpanel" aria-labelledby="gtlUnitRates-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-25">Coverage Start Date</th>
                                            <th class="w-25">Benefit</th>
                                            <th class="w-25">Risk Rate per 1000</th>
                                            <th class="w-25">Gross Rate per 1000</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!tableGTLBy(TypeGtlUnitRates) || !tableGTLBy(TypeGtlUnitRates).length">
                                            <td colspan="4" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(gtl, index) in tableGTLBy(TypeGtlUnitRates)">
                                            <td>{{ gtl.CoverageStartDateStr }}</td>
                                            <td>{{ gtl.BenefitCode }}</td>
                                            <td>{{ gtl.RiskRate }}</td>
                                            <td>{{ gtl.GrossRate }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="gtlAgeBanded" role="tabpanel" aria-labelledby="gtlAgeBanded-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-20">Coverage Start Date</th>
                                            <th class="w-20">Benefit</th>
                                            <th class="w-20">Age Band</th>
                                            <th class="w-20">Risk Rate per 1000</th>
                                            <th class="w-20">Gross Rate 1000</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!tableGTLBy(TypeGtlAgeBanded) || !tableGTLBy(TypeGtlAgeBanded).length">
                                            <td colspan="5" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(gtl, index) in tableGTLBy(TypeGtlAgeBanded)">
                                            <td>{{ gtl.CoverageStartDateStr }}</td>
                                            <td>{{ gtl.BenefitCode }}</td>
                                            <td>{{ gtl.AgeBandRange }}</td>
                                            <td>{{ gtl.RiskRate }}</td>
                                            <td>{{ gtl.GrossRate }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="gtlBasisOfSa" role="tabpanel" aria-labelledby="gtlBasisOfSa-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-20">Coverage Start Date</th>
                                            <th class="w-30">Benefit</th>
                                            <th class="w-30">Designation</th>
                                            <th class="w-20">Basis of SA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!tableGTLBy(TypeGtlBasisOfSa) || !tableGTLBy(TypeGtlBasisOfSa).length">
                                            <td colspan="4" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(gtl, index) in tableGTLBy(TypeGtlBasisOfSa)">
                                            <td>{{ gtl.CoverageStartDateStr }}</td>
                                            <td>{{ gtl.BenefitCode }}</td>
                                            <td>{{ gtl.Designation }}</td>
                                            <td>{{ gtl.BasisOfSA }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="ghsClaimExperience" role="tabpanel" aria-labelledby="ghsClaimExperience-tab">
                            <div class="table-responsive">
                                <table class="table table-hover" v-cloak>
                                    <thead>
                                        <tr>
                                            <th class="w-10">Coverage Start Date</th>
                                            <th class="w-10">Date of Event</th>
                                            <th class="w-10">Claimant's Name/ID</th>
                                            <th class="w-10">Cause of Claim</th>
                                            <th class="w-10">R&B Covered</th>
                                            <th class="w-10">AOL Covered</th>
                                            <th class="w-10">Relationship</th>
                                            <th class="w-10">Hospital Covered</th>
                                            <th class="w-10">Gross Claim Incurred</th>
                                            <th class="w-10">Gross Claim Paid</th>
                                            <th class="w-10">Gross Claim Paid (IBNR)</th>
                                            <th class="w-10">RI Claim Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="!TableGHSs || !TableGHSs.length">
                                            <td colspan="12" class="no-data">No available data found.</td>
                                        </tr>
                                        <tr v-for="(ghs, index) in TableGHSs">
                                            <td>{{ ghs.CoverageStartDateStr }}</td>
                                            <td>{{ ghs.EventDateStr }}</td>
                                            <td>{{ ghs.ClaimantsName }}</td>
                                            <td>{{ ghs.CauseOfClaim }}</td>
                                            <td>{{ ghs.RbCovered }}</td>
                                            <td>{{ ghs.AolCovered }}</td>
                                            <td>{{ ghs.Relationship }}</td>
                                            <td>{{ ghs.HospitalCovered }}</td>
                                            <td>{{ ghs.GrossClaimIncurred }}</td>
                                            <td>{{ ghs.GrossClaimPaid }}</td>
                                            <td>{{ ghs.GrossClaimPaidIbnr }}</td>
                                            <td>{{ ghs.RiClaimPaid }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_BackToList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var HipsTables = @Html.Raw(Json.Encode(ViewBag.HipsTableBos));
        var GtlTables = @Html.Raw(Json.Encode(ViewBag.GtlTableBos));
        var GhsTables = @Html.Raw(Json.Encode(ViewBag.GhsTableBos));

        var TypeGtlClaim = '@BusinessObject.TreatyPricing.TreatyPricingGroupReferralGtlTableBo.TypeGtlClaim';
        var TypeGtlUnitRates = '@BusinessObject.TreatyPricing.TreatyPricingGroupReferralGtlTableBo.TypeGtlUnitRates';
        var TypeGtlAgeBanded = '@BusinessObject.TreatyPricing.TreatyPricingGroupReferralGtlTableBo.TypeGtlAgeBanded';
        var TypeGtlBasisOfSa = '@BusinessObject.TreatyPricing.TreatyPricingGroupReferralGtlTableBo.TypeGtlBasisOfSa';

        var app = new Vue({
            el: '#app',
            data: {
                TableHIPSs: HipsTables ? HipsTables : [],
                TableGTLs: GtlTables ? GtlTables : [],
                TableGHSs: GhsTables ? GhsTables : [],
                TypeGtlClaim: TypeGtlClaim,
                TypeGtlUnitRates: TypeGtlUnitRates,
                TypeGtlAgeBanded: TypeGtlAgeBanded,
                TypeGtlBasisOfSa: TypeGtlBasisOfSa,
            },
            methods: {
                tableGTLBy: function (type) {
                    if (this.TableGTLs != null) {
                        return this.TableGTLs.filter(function (gtl) {
                            return gtl.Type == type;
                        })
                    }
                },
            },
            created: function () {
            },
            updated() {
            }
        });
    </script>
}