@using PagedList.Mvc

@model PagedList.IPagedList<WebApp.Models.SoaDataReinsuranceViewModel>

@{
    var routeValue = (RouteValueDictionary)ViewBag.RouteValue;
}

<div class="form-horizontal">
    <div class="form-row">
        <div class="form-group col-md-12" id="SoaDataReinsurance@(routeValue["OriginalCurrency"].ToString() == "False" ? "MYR" : "ORIGINAL")List">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="w-10">COMPANY NAME</th>
                            <th class="w-10">BUSINESS</th>
                            <th class="w-10">TREATY ID</th>
                            <th class="w-10">TREATY CODE</th>
                            <th class="w-10">TREATY MODE</th>
                            <th class="w-10">TREATY TYPE</th>
                            <th class="w-10">PLAN / BLOCK</th>
                            <th class="w-10">RISK MONTH</th>
                            <th class="w-10">SOA QTR</th>
                            <th class="w-10">RISK QTR</th>
                            <th class="w-10">NB PREMIUM</th>
                            <th class="w-10">RN PREMIUM</th>
                            <th class="w-10">ALT PREMIUM</th>
                            <th class="w-10">GROSS PREMIUM</th>
                            <th class="w-10">TOTAL DISCOUNT</th>
                            <th class="w-10">RISK PREMIUM</th>
                            <th class="w-10">NO CLAIM BONUS</th>
                            <th class="w-10">LEVY</th>
                            <th class="w-10">CLAIM</th>
                            <th class="w-10">PROFIT COMM</th>
                            <th class="w-10">SURR VALUE</th>
                            <th class="w-10">GST</th>
                            <th class="w-10">MODCO RESERVE INCOME </th>
                            <th class="w-10">RI DEPOSIT </th>
                            <th class="w-10">DATABASE COMMISSION </th>
                            <th class="w-10">ADMINISTRATION CONTRIBUTION </th>
                            <th class="w-20">SHARE OF RI COMMISSION FROM COMPULSORY CESSION </th>
                            <th class="w-10">RECAPTURE FEE</th>
                            <th class="w-10">CREDIT CARD CHARGES</th>
                            <th class="w-10">BROKERAGE FEE</th>
                            <th class="w-10">NET TOTAL AMOUNT</th>
                            <th class="w-10">SOA RECEIVED DATE</th>
                            <th class="w-10">BORDEREAUX RECEIVED DATE</th>
                            <th class="w-10">STATEMENT STATUS</th>
                            <th class="w-10">REMARKS</th>
                            <th class="w-10" @(routeValue["OriginalCurrency"].ToString() == "False" ? "hidden" : "")>CURRENCY CODE</th>
                            <th class="w-10" @(routeValue["OriginalCurrency"].ToString() == "False" ? "hidden" : "")>CURRENCY RATE</th>
                            <th class="w-10">MAPPING STATUS</th>
                            <th class="w-5">ERROR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CompanyName</td>
                                    <td>@item.BusinessCode</td>
                                    <td>@item.TreatyId</td>
                                    <td>@item.TreatyCode</td>
                                    <td>@item.TreatyMode</td>
                                    <td>@item.TreatyType</td>
                                    <td>@item.PlanBlock</td>
                                    <td>@item.RiskMonth</td>
                                    <td>@item.SoaQuarter</td>
                                    <td>@item.RiskQuarter</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.NbPremium)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.RnPremium)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.AltPremium)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.GrossPremium)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.TotalDiscount)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.RiskPremium)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.NoClaimBonus)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.Levy)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.Claim)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.ProfitComm)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.SurrenderValue)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.Gst)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.ModcoReserveIncome)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.RiDeposit)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.DatabaseCommission)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.AdministrationContribution)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.ShareOfRiCommissionFromCompulsoryCession)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.RecaptureFee)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.CreditCardCharges)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.BrokerageFee)</td>
                                    <td class="text-right">@Shared.Util.DoubleToString(item.NetTotalAmount)</td>
                                    <td>
                                        @if (item.SoaReceivedDate != null)
                                        {
                                            @item.SoaReceivedDate.Value.ToString(Shared.Util.GetDateFormat())
                                        }
                                    </td>
                                    <td>
                                        @if (item.BordereauxReceivedDate != null)
                                        {
                                            @item.BordereauxReceivedDate.Value.ToString(Shared.Util.GetDateFormat())
                                        }
                                    </td>
                                    <td>@item.StatementStatus</td>
                                    <td>@item.Remarks1</td>
                                    <td @(routeValue["OriginalCurrency"].ToString() == "False" ? "hidden" : "")>@item.CurrencyCode</td>
                                    <td @(routeValue["OriginalCurrency"].ToString() == "False" ? "hidden" : "")>@Shared.Util.DoubleToString(item.CurrencyRate)</td>
                                    <td>@BusinessObject.SoaDatas.SoaDataBo.GetMappingStatusName(item.MappingStatus)</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Error))
                                        {
                                            <a href="#errorDataModal" data-toggle="modal" data-target="#errorDataModal" onclick="retrieveErrors(@item.Error)"><span class="fas fa-exclamation-triangle"></span></a>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>TOTAL</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.NbPremium))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.RnPremium))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.AltPremium))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.GrossPremium))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.TotalDiscount))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.RiskPremium))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.NoClaimBonus))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.Levy))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.Claim))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.ProfitComm))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.SurrenderValue))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.Gst))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.ModcoReserveIncome))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.RiDeposit))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.DatabaseCommission))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.AdministrationContribution))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.ShareOfRiCommissionFromCompulsoryCession))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.RecaptureFee))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.CreditCardCharges))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.BrokerageFee))</td>
                                <td class="text-right">@Shared.Util.DoubleToString(Model.Sum(item => item.NetTotalAmount))</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="@(routeValue["OriginalCurrency"].ToString() == "False" ? 37 : 39)" class="no-data">No available data found.</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div class="pagination-footer">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Partial("_PageInfo")
                    </div>
                    <div class="col-md-8" id="reinsurancePager@(routeValue["OriginalCurrency"].ToString() == "False" ? "MYR" : "ORIGINAL")">
                        @Html.PagedListPager(Model, Page => Url.Action("SoaDataReinsurance", new { id = routeValue["Id"], originalCurrency = routeValue["OriginalCurrency"], Page, }), Shared.Html.GetPagedListRenderOptions())
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12"></div>
    </div>
</div>
