@model WebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - @ConfigurationManager.AppSettings["AppName"]
    </title>
    <link rel="icon" type="image/png" href="~/Image/MLRe-favicon.png" />

    @Styles.Render("~/Content/font-face.css")

    @Styles.Render("~/bundles/css")

    <link href="@Url.Content("~/Content/font-awesome/css/all.min.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="mmenu_screen" style="width: 100%; margin: 0 auto;">
        <div class="container-login">
            <div class="wrap-login">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-lg-6 login-form form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div style="height: 80vh; display: table-cell; vertical-align: middle; width: 900px;">
                        <div class="form-row wrap-form" style="margin-bottom: 50px;">
                            <div class="form-group col-md-8 p-5 text-center d-lg-none d-block" style="padding-top: 0 !important;">
                                <img src="~/Image/MLRe Logo-white.png" class="img-login" />
                            </div>
                        </div>
                        <div class="form-row wrap-form" style="margin-bottom: 100px;">
                            <div class="form-group col-md-8 p-5 text-center">
                                <img src="~/Image/ARAGON_Logo-Login.png" class="img-login" />
                            </div>
                        </div>
                        <div class="form-row wrap-form">
                            <div class="form-group col-md-8 text-left txt-heading">
                                FORGOT PASSWORD
                            </div>
                        </div>
                        <div class="form-row wrap-form">
                            <div class="form-group col-md-8 text-left">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "eg: johndoe123" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row wrap-form">
                            <div class="form-group col-md-8 text-right small">
                                <a href="@(Url.Action("Login"))">
                                    Back to Login
                                </a>
                            </div>
                        </div>
                        <div class="form-row wrap-form">
                            <div class="form-group col-md-8 p-5 text-center" style="padding-top: 1rem !important;">
                                <button type="submit" class="btn btn-submit">SUBMIT</button>
                            </div>
                        </div>
                        <div class="form-row wrap-form mt-4 mt-4">
                            <div class="form-group col-md-8 text-center error-msg">
                                @if (Html.ViewData.ModelState.ContainsKey(string.Empty))
                                {
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-left" })
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-6 d-none d-lg-block login-img">
                    <div class="p-5 text-center" style="padding-bottom: 0 !important;">
                        <img src="~/Image/MLRe-logo.png" class="img-login" />
                    </div>
                    <div class="p-5 text-center" style="padding-bottom: 0 !important;">
                        <img src="~/Image/MLRe_Welcome_Illustration.png" class="img-login" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>