@*@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@


@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - @ConfigurationManager.AppSettings["AppName"]
    </title>
    <link rel="icon" type="image/png" href="~/Image/MLRe-favicon.png" />

    @Styles.Render("~/Content/font-face.css")

    @Styles.Render("~/bundles/css")

    <link href="@Url.Content("~/Content/font-awesome/css/all.min.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="mmenu_screen" style="width: 100%; margin: 0 auto;">
        <div class="container-login">
            <div class="wrap-login">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-lg-6 login-form form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="p-5 text-center d-lg-none d-block" style="padding-top: 0 !important;">
                        <img src="~/Image/MLRe Logo-white.png" class="img-login" />
                    </div>
                    <div class="p-5 text-center">
                        <img src="~/Image/ARAGON_Logo-Login.png" class="img-login" />
                    </div>
                    <div class="form-row" style="margin-top: 100px;">
                        <div class="form-group col-md-12 text-center txt-heading">
                            FORGOT PASSWORD CONFIRMATION
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <label>
                                Please check your email to reset your password.
                            </label>
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 100px;">
                        <div class="form-group col-md-12 text-center small">
                            <a href="@(Url.Action("Login"))">
                                Back to Login
                            </a>
                        </div>
                    </div>
                }

                <div class="col-lg-6 d-none d-lg-block login-img">
                    <div class="p-5 text-center" style="padding-bottom: 0 !important;">
                        <img src="~/Image/MLRe-logo.png" class="img-login" />
                    </div>
                    <div class="p-5 text-center" style="padding-bottom: 0 !important;">
                        <img src="~/Image/MLRe_Welcome_Illustration.png" class="img-login" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
