@using BusinessObject.Identity

@model WebApp.Models.UserViewModel

@{
    ViewBag.Title = "User";
    ViewBag.Action = "Delete";
    ViewBag.ListPageUrl = Url.Action("Index");
}

@section breadcrumb
{
    @Html.Partial("_Breadcrumb")
}

@Html.Partial("_BackToList")

<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Action @ViewBag.Title</h4>
    </div>
    <div class="card-body">
        <div class="form-row wrap-form">
            <div class="form-group col-md-8 p-5 text-center delete-heading">
                <h4>Are you sure you want to delete this?</h4>
            </div>
        </div>
        <div class="form-row wrap-form">
            <div class="form-group col-md-8">
                <table class="table table-hover table-delete">
                    <thead>
                        <tr>
                            <th class="w-50">Label</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FullName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.FullName)
                            </td>
                        </tr>
                        @if (Model.DepartmentBo != null)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayNameFor(model => model.DepartmentBo)
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.DepartmentBo.Name)
                                </td>
                            </tr>
                        }
                        @if (Model.UserAccessGroupBos != null && Model.UserAccessGroupBos.Count > 0)
                        {
                            <tr>
                                <td>
                                    Access Group
                                </td>

                                <td>
                                    @foreach (UserAccessGroupBo uag in Model.UserAccessGroupBos)
                                    {
                                        if (uag.AccessGroupBo != null)
                                        {
                                            @uag.AccessGroupBo.Code
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <div class="form-actions no-color form-row form-row-btn">
                <div class="form-group col-md-12 btn-row">
                    @Html.ActionLink("CANCEL", "Index", null, new { @class = "btn btn-cancel" })
                    <button type="submit" class="btn btn-del float-right">DELETE</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_BackToList")